<div class="buttons">
  <input
    class="btn"
    type="button"
    name="save"
    value="SAVE REPORT"
    ng-click="save()"
  />
  <input
    class="btn"
    type="button"
    id="clear"
    name="clear"
    value="CLEAR"
    ng-click="clear()"
  />
  <input
    class="btn"
    type="button"
    id="start"
    name="start"
    value="START"
    ng-disabled="global.collection"
    ng-click="startDataCollection()"
  />
  <input
    class="btn"
    type="button"
    id="stop"
    name="stop"
    value="STOP"
    ng-disabled="!global.collection"
    ng-click="stopDataCollection()"
  />
</div>