<div class="dialog">
  <form name="seqDialog" novalidate>
    <input
      type="text"
      name="seqName"
      ng-model="global.editSeq.name"
      placeholder="Sequence name"
      ng-required="true"
      autofocus
    />

    <div class="error" id="nameError" ng-show="seqDialog.seqName.$touched && seqDialog.seqName.$invalid">
      The name is required
    </div>

    <input
      type="text"
      name="seqStructure"
      ng-model="global.editSeq.structure"
      placeholder="Structure"
      ng-required="true"
    />

    <br />

    <div class="error" id="structureError" ng-show="seqDialog.seqStructure.$touched && seqDialog.seqStructure.$invalid">
      The structure is required
    </div>

    <div class="error" id="notice" ng-show="seqDialog.seqStructure.$touched && !regexTest(global.editSeq.structure)">
      Please use only three letter sequences using capital letters A,G,C or T.
    </div>

    <br />

    <input type="hidden" ng-model="global.editSeq.rate" value="0" />

    <div class="buttons">
      <input
        class="btn"
        type="button"
        name="ok"
        id="ok"
        value="OK"
        ng-click="editSequence(global.id) && dialogClose()"
      />
  
      <input
        class="btn"
        type="button"
        name="delete"
        id="delete"
        value="DELETE"
        ng-hide="global.deleteDisable"
        ng-click="remove(global.id);dialogClose()"
        ng-disabled="global.deleteDisable"
      />
  
      <input
        class="btn"
        type="button"
        name="delete"
        id="delete"
        value="CANCEL"
        ng-show="global.deleteDisable"
        ng-click="dialogClose()"
      />
    </div>

    <br />

    <input type="checkbox" ng-model="global.showWeights" style="width: 1em" />
    <span ng-show="global.showWeights">
      <span class="error" style="font-size: 0.6em">
        Weights (demonstration only):
        <br />
        A: <input type="number" ng-model="weights[0]" style="width: 4em" /> G:
        <input type="number" ng-model="weights[1]" style="width: 4em" /> T:
        <input type="number" ng-model="weights[2]" style="width: 4em" />
        C:
        <span> {{1 - weights[0] - weights[1] - weights[2] | number:2}} </span>
      </span>
    </span>
  </form>
</div>
